{% extends "base.html" %} {% load static %}{% load django_bootstrap5 %} {% block content %}
    <div class="row custom_header m-2">
        <div class="col">
            <h3>Formulário de Cadastro de Câmera</h3>
        </div>
    </div>
    <div class="row principal m-2">
        <div class="col">
            <input class="btn bg_warning btn-sm" type="reset" value="Retornar"
                       onClick="history.back()"/>
            <hr>
            <div>{% bootstrap_form_errors form layout='inline' %}</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-4">
                        {% bootstrap_field form.ponto label_class="negrito" size=small show_label=True %}
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.regiao label_class="negrito" size=small show_label=True %}
                    </div>

                    <div class="col-4">
                        {% bootstrap_field form.nome_ponto label_class="negrito" size=small show_label=True %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {% bootstrap_field form.ip size=small label_class="negrito" show_label=True %}
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.porta size=small label_class="negrito" show_label=True %}
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.nome_camera size=small label_class="negrito" show_label=True %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {% bootstrap_field form.longitude size=small label_class="negrito" show_label=True %}
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.latitude size=small label_class="negrito" show_label=True %}
                    </div>
                </div>
                <div>
                    {% bootstrap_button button_type="submit" content="OK" %}
                    {% bootstrap_button button_type="reset" content="Cancel" %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
