{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row custom_header m-2">
    <div class="col">
        <h3>Acompanhamento de Uptime dos Roteadores dos Sites com Painéis Solares</h3>
    </div>
</div>
<div class="row m-2 principal">
    <div class="col-2">
        <input class="btn bg_warning btn-sm" type="reset" value="Retornar"
               onClick="history.back()"/>
    </div>
    <div class="col-7">
        <form method="get">
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.ponto size="sm" show_label='skip' %}
                </div>
                <div class="col">
                    {% bootstrap_field form.data_registro size="sm" show_label='skip' %}
                </div>
                <div class="col">
                    {% bootstrap_field form.horario size="sm" show_label='skip' %}
                </div>
                <div class="col">
                    <button type="submit" class="btn bg_primary btn-sm">Filtrar</button>
                    <button type="reset" class="btn bg_warning btn-sm">Limpar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <a href="{% url 'relatorios:ultimas_coletas' %}" class="btn bg_primary btn-sm">Ultimas Coletas</a>
        <a href="{% url 'relatorios:exportar' %}?{{ request.GET.urlencode }}"
           class="btn bg_primary btn-sm">Exportar</a>
    </div>
</div>
<div class="row m-2 principal">
    <div class="col">
        <div class="nav">
            <ul class="pagination">
                <!-- Paginação Anterior -->
                {% if page_obj.has_previous %}
                {% if request.GET.ponto or request.GET.data_registro %}
                <li class="page-item">
                    <a class="page-link"
                       href="?ponto={{ request.GET.ponto }}&data_registro={{ request.GET.data_registro }}&page=1">&laquo;
                        primeira</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?ponto={{ request.GET.ponto }}&data_registro={{ request.GET.data_registro }}&page={{ page_obj.previous_page_number }}">anterior</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; primeira</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="page={{ page_obj.previous_page_number }}">anterior</a>
                </li>
                {% endif %}
                {% endif %}
                <!-- Paginação Range de páginas -->
                <li class="page-item page-link">
                    página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </li>

                <!-- Paginação para as próximas páginas -->
                {% if page_obj.has_next %}
                {% if request.GET.ponto or request.GET.data_registro %}
                <li class="page-item">
                    <a class="page-link"
                       href="?ponto={{ request.GET.ponto }}&data_registro={{ request.GET.data_registro }}&page={{ page_obj.next_page_number }}">próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?ponto={{ request.GET.ponto }}&data_registro={{ request.GET.data_registro }}&&page={{ page_obj.paginator.num_pages }}">última
                        &raquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}">última
                        &raquo;</a>
                </li>
                {% endif%}

                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="row m-2 principal">
    <div class="col">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>
                    Ponto
                </th>
                <th>
                    Uptime
                </th>
                <th>
                    Status
                </th>
                <th>
                    Data do Registro
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in paineis %}
            <tr>
                <td>
                    {{p.ponto}}
                </td>
                <td>
                    {{p.uptime}}
                </td>
                <td>
                    {{p.status}}
                </td>
                <td>
                    {{p.data_registro}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}