{% extends 'base_relatorio.html' %} {% load filtro_customizado %} {% load static%} {% load django_bootstrap5 %} {% block content %}
<section class="container-fluid">
    <div class="folha-rosto">
        <div class="row justify-content-center">
            <div class="col-2">
                <img
                        src="{% static 'images/logo.png' %}"
                        class="img-fluid"
                        alt="LogoConsórcio"/>
            </div>
            <div class="col-2">
                <img
                        src="{% static 'images/logoDETRAN.png' %}"
                        class="img-fluid"
                        align="right"
                        alt="Logo Empresa do Consórcio"/>
            </div>
            <div class="col-10 align-self-center">
                <h2 class="text-center mt-5">Relatório de Preventivas de Pontos de Coleta do Cerco Inteligente do
                    Espírito Santo</h2>
                <h3 class="text-center mt-5">Preventivas Realizadas: {{chamados|length}}</h3>
                <h3 class="text-center mt-2">Preventivas Realizadas RMGV: {{estatistica.FECHADOS_RMGV}}</h3>
                <h3 class="text-center mt-2">Preventivas Realizadas Fora Divisa:
                    {{estatistica.FECHADOS_FORA_DIVISA}}</h3>
            </div>
            <div class="col-10">
            </div>
        </div>
    </div>

    <div style="break-after: page"></div>
    {% for ch,v in chamados.items %}
    <div class="row justify-content-center mt-2">
        <div class="col-8 text-center">
            <h4 class="align-middle">
                <a
                        href="https://servicedeskpedrasverdes.atlassian.net/browse/{{key}}"
                        target="”_blank”"
                >{{v.key}}</a
                >-{{v.fields.summary}}
            </h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-bordered table-secondary">
                <thead>
                <tr>
                    <th colspan="2">
                        <p>
                            SITE: {{v.fields.customfield_10060.value}} -
                            {{v.fields.customfield_10060.child.value}}
                        </p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>COORDENADOR:<br/>ALEXANDER SANTOS</p>
                    </td>
                    <td>
                        <p>STATUS EQUIPAMENTO: <br/>OPERANDO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>REALIZADA POR:<br/>{{v.fields.customfield_10116.value}}</p>
                    </td>
                    <td>
                        <p>COORDENADA: <br/>{{v.fields.customfield_10117}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>MOTIVO DA VISITA:<br/>PREVENTIVA</p>
                    </td>
                    <td>
                        <p>ENDEREÇO:<br/>{{v.fields.customfield_10118.content.0.content.0.text}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            DATA DA VISITA: {{v.fields.customfield_10139|data_br}} <br/>INÍCIO:
                            {{v.fields.customfield_10141}} <br/>FIM:
                            {{v.fields.customfield_10144}}
                        </p>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-sm table-secondary table-bordered">
                <thead>
                <tr>
                    <th colspan="2">
                        <h6>Checklist de atendimento para manutenção preventiva</h6>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>
                            1-Efetuada a limpeza de lentes e cúpulas? -
                            {{v.fields.customfield_10106.value}}
                        </p>
                    </td>
                    <td>
                        <p>
                            6-Efetuada a limpeza preventiva externa e interna dos equipamentos?
                            - {{v.fields.customfield_10111.value}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            2-Necessário ajustes de posicionamento? -
                            {{v.fields.customfield_10107.value}}
                        </p>
                    </td>
                    <td>
                        <p>
                            7-Foi verificado o reaperto dos contatos elétricos? -
                            {{v.fields.customfield_10112.value}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            3-Foram verificadas as conexões de cabeamento lógico? -
                            {{v.fields.customfield_10108.value}}
                        </p>
                    </td>
                    <td>
                        <p>
                            8-Foi verificada a vedaçãodo gabinete? -
                            {{v.fields.customfield_10113.value}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            4-Foram verificados os componentes elétricos utilizados para
                            alimentação
                            <br/>dos equipamentos(nobreak, disjuntor e fusíveis)? -
                            {{v.fields.customfield_10109.value}}
                        </p>
                    </td>
                    <td>
                        <p>
                            9-Há obstrução das lentes das câmeras? -
                            {{v.fields.customfield_10114.value}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            5-Foi verifica do os estado das baterias para alimentação
                            externa(painelsolar)? - {{v.fields.customfield_10110.value}}
                        </p>
                    </td>
                    <td>
                        <p>
                            10-Verificada a conectividade com o DSS? -
                            {{v.fields.customfield_10115.value}}
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div style="break-after: page"></div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <br/>
                <h6>
                    Evidências da visita no local
                    <span class="info"
                    >Quantidade de anexos: {{v.fields.attachment|length}}</span
                    >
                </h6>
                {%for anexo in v.fields.attachment%}
                <div class="col-5 m-3">
                    <img src="{{anexo.content}}" alt="imagem" class="img-fluid"/>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div style="break-after: page"></div>
    {% endfor %}
</section>
{% endblock %}
