{% extends 'base.html' %}
{% block content %}

<div class="corpo-conteudo">
    <div class="principal">

        {% if estatistica %}
        <h3>Mês corrente: {% now "m/Y" %}</h3>
        <h4> Preventivas a serem realizadas: {{estatistica.TOTAL_DE_CHAMADOS}}</h4>
        <div>
            <table>
                <thead>
                <tr>
                    <th colspan="2">Preventivas RMGV / DIVISA</th>
                    <th colspan="2">Preventivas FORA DIVISA</th>
                </tr>
                <tr>
                    <th>Abertas</th>
                    <th>Fechada</th>
                    <th>Abertas</th>
                    <th>Fechadas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{estatistica.ABERTOS_RMGV}}</td>
                    <td>{{estatistica.FECHADOS_RMGV}}</td>
                    <td>{{estatistica.ABERTOS_FORA_DIVISA}}</td>
                    <td>{{estatistica.FECHADOS_FORA_DIVISA}}</td>
                </tr>
                </tbody>
            </table>
            {% else %}
             <h5>Os Chamados de Preventivas não foram abertos</h5>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}