{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
    <div class="row justify-content-center">
        <div class="col-6 ">
            <div class="row custom_header my-2">
                <div class="col">
                    <h1>{{ titulo }}</h1>
                </div>
            </div>
            <div class="row principal justify-content-start ">
                <div class="col-8">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form alert_error_type="all" %}
                        {% bootstrap_button button_type="submit" button_class="btn-primary" size="sm" content="Enviar" %}
                        {% bootstrap_button button_type="reset" button_class="btn-danger" size="sm" content="Cancelar" %}
                        {% bootstrap_button button_type="link" href="/preventivas" button_class="btn-warning" size="sm" content="Retornar" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
