{% extends "base.html" %}
{% block content %}
    <div class="row custom_header my-2">
        <div class="col">
            <h1>Confirmar de Exclusão!</h1>
        </div>
    </div>
    <div class="row principal">
        <div class="col">
            <h2>
                Tem certeza que deseja apagar o termo {{ object.id_processador.identificacao }}
            </h2>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Sim, tenho certeza" class="btn btn-primary btn-sm"/>
                <input class="btn btn-danger btn-sm" type="reset" value="Não quero apagar mais"
                       onClick="history.back()"/>
            </form>
        </div>
    </div>


{% endblock content %}