{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="row custom_header m-2">
        <div class="col">
            <h1>Relatório de Ocorrências</h1>
        </div>
    </div>
        <div class="row principal m-2">
        <div class="col">
            <input class="btn btn-danger btn-sm" type="reset" value="Retornar"
                       onClick="history.back()"/>
        </div>
    </div>
    <div class="row m-2 principal">
        <div class="col">
                {% for a in acompanhamento %}
                    <h5>Processador: {{ a.id_processador.identificacao }} -
                        <span>SLA: {{ a.get_status_sla_display }}</span>
                    </h5>
                    <hr>
                    <p><b>Período da Ocorrência:</b> {{ a.data_inicial }} à {{ a.data_final }} -
                        Duração: {{ a.duracao }}
                    </p>
                    <p><b>Problema Apresentado:</b> <br> {{ a.problema_apresentado }}</p>
                    <p><b>Ação Tomada:</b> <br> {{ a.acao_tomada }}</p>
                {% endfor %}
            </div>
    </div>

{% endblock %}