{% extends 'base.html' %}
{% block content %}

<div class="corpo-conteudo">
    <div class="principal">
        <h1>{{titulo}}</h1>
        <h3>Mês corrente: {% now "M/Y" %}</h3>

        <div class="corretivas">
            <div>
                <h2>FORA DIVISA</h2>
                <p>Exportar Corretivas FORA DIVISA:
                    <input type="button" value="Acessar" class="info"
                           onclick='window.location.href="/corretivas/fora_divisa"'></p>
            </div>
            <div>
                <h2>RMGV / DIVISA</h2>
                <p>Exportar Corretivas RMGV/DIVISA:
                    <input type="button" value="Acessar" class="info" onclick='window.location.href="/corretivas/rmgv"'>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}