{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row custom_header m-2">
    <div class="col">
        <h3>Relatório de Ocorrências</h3>
    </div>
</div>
<div class="row principal m-2">
    <div class="col">
        <input class="btn bg_warning btn-sm" type="reset" value="Retornar"
               onClick="history.back()"/>
    </div>
</div>
<div class="row principal m-2">
    <div class="col">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_form_errors form %}
                {% bootstrap_button button_type="submit" button_class="bg_primary" size="sm" content="Enviar" %}
                {% bootstrap_button button_type="reset" button_class="bg_danger" size="sm" content="Cancelar" %}
            </form>
    </div>
</div>
{% endblock %}