* {
  /*Aqui faz a fonte */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  /*Aqui faz o CSS do body */
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  background-image: url("../images/background.png");
  background-size: cover;
}

.login_area{
  border-radius:10px;
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
.login_form{
  width: 50%;
  height: 100%;
}
.image_area {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-image:url("../images/logo1.png");
  background-size:contain;
  background-repeat:no-repeat;
  border: #0054A2 3px solid;
}
ul{
  font-family: sans-serif;
  font-size: smaller;
}