<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extração de Preventivas</title>
    <link rel="stylesheet" href="{% static 'styles/erros_stprev.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
<section class="main">
    <div>
        <img src="{% static 'images/logo.png' %}" alt="Logo da empresa">
        <h2>ERRO: 500</h2>
        <p>Pia estamos com problemas em nosso código !
            <br> Precisa procurar o criador da aplicação: a.alves@perkons.com
        </p>
    </div>
</section>
</body>
</html>