<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Extração de Preventivas</title>
    <link rel="stylesheet" href="{% static 'styles/base_stprev.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts_stprev.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

</head>
<body >
<main class="container inter-400">
    <nav class="sidebar active">
        <div class="logo-menu">
            <h2 class="logo">
                <img src="{% static 'images/logo1.png' %}" width="90px">
            </h2>
            <i class="bx bx-menu toggle-btn"></i>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="{% url 'preventivas' %}" class="link">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name">Início</span>
                </a>

            </li>
            <li class="list-item">
                <a class="link" href="{% url 'preventivas_perkons' %}">
                    <i class='bx bx-camera-home'></i>
                    <span class="link-name">Pontos de Coleta</span>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="{% url 'preventivas_velsis' %}">
                    <i class='bx bx-flag'></i>
                    <span class="link-name">Pontos de Balança</span>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="{% url 'preventivas_salas' %}">
                    <i class='bx bxs-buildings'></i>
                    <span class="link-name">Salas de Operações</span>
                </a>
            </li>
            <li class="list-item">
                <a class="link" href="{% url 'corretivas' %}">
                    <i class='bx bxs-wrench'></i>
                    <span class="link-name">Corretivas</span>
                </a>
            </li>
            <li class="list-item">
                <form action="{% url 'logout' %}" method="post" id="logout">
                    {% csrf_token %}
                    <a class="link" href="javascript:{}" onclick="document.getElementById('logout').submit();">
                        <i class='bx bx-log-out'></i>
                        <span class="link-name">Sair do Sistema</span>
                    </a>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container-content" id="conteudo">
        <div class="cabecalho">
            <h3>Seja bem-vindo, {{user.get_full_name}}.</h3>
        </div>

        {% block content %}{% endblock content %}
    </div>
</main>
<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>