<!doctype html>
{% load static %}
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'styles/reset_stprev.css' %}" rel="stylesheet">
    <link href="{% static 'styles/relatorio_stprev.css' %}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <title>Preventivas </title>
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'scripts/scripts_relatorio.js' %}"></script>
</body>
</html>