{% extends 'base.html' %}{% load static %} {% block content %}
    <div class="col-8">
        <div class="corpo-conteudo">
            <div class="cabecalho1">
                <h2>Preventivas</h2>
            </div>
            <div class="principal">
                {% if estatistica %}
                    <div>
                        <div class="spinner-border text-primary center" id="spinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <table class="table table-sm table-bordered" id="tbl_resumo">
                            <thead>
                            <tr>
                                <th colspan="2">Preventivas RMGV / DIVISA</th>
                                <th colspan="2">Preventivas FORA DIVISA</th>
                                <th colspan="2">Total de Preventivas</th>
                            </tr>
                            <tr>
                                <th>Abertas</th>
                                <th>Fechada</th>
                                <th>Abertas</th>
                                <th>Fechadas</th>
                                <th>Chamados Abertos</th>
                                <th>Chamados Fechados</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="abertosrmgv"></td>
                                <td id="fechadosrmgv"></td>
                                <td id="abertosforarmgv"></td>
                                <td id="fechadosforarmgv"></td>
                                <td id="abertos"></td>
                                <td id="fechados"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h5>Os Chamados de Preventivas não foram abertos</h5>
                {% endif %}
            </div>
            <div class="cabecalho2">
                <h2>Corretivas</h2>
            </div>
            <div class="rmgv">
                <h3>RMGV / DIVISA</h3>
                <p>
                    Gerar tabela com os chamados de corretivas:
                    <input
                            type="button"
                            value="Acessar"
                            class="info"
                            onclick='window.location.href="/corretivas/rmgv"'/>
                </p>
            </div>
            <div class="fora-rmgv">
                <h3>FORA RMGV</h3>
                <p>
                    Gerar tabela com os chamados de corretivas:
                    <input
                            type="button"
                            value="Acessar"
                            class="info"
                            onclick='window.location.href="/corretivas/fora_divisa"'/>
                </p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    <script src="{% static 'scripts/resumo.js' %}"></script>
{% endblock %}
